<h1>Portfolio items</h1>

<a href="portfolios/new">Create New Item</a>

<%= link_to "Create New Item", new_portfolio_url %>

<% @portfolio_items.each do |i| %>
    <p><%= link_to i.title, portfolio_path(i) %></p>
    <p> <%= i.subtitle %></p>
    <p><%= i.body %></p>
    <%= image_tag i.thumb_image unless i.thumb_image.nil? %>
    <%= link_to "Edit", edit_portfolio_path(i) %>
<% end %>